<div id="<%= dom_id follow %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Follower:</strong>
    <%= follow.follower_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Followed:</strong>
    <%= follow.followed_id %>
  </p>

</div>
