<div class="max-w-3xl mx-auto">
  <%= render @post %>

  <div class="mt-8">
    <h2 class="text-lg font-medium text-gray-900">Comments</h2>

    <div class="mt-4">
      <%= render "comments/form", comment: @comment, post: @post %>
    </div>

    <div class="mt-6 space-y-4">
      <%= render @comments %>
    </div>
  </div>
</div>
